@model IEnumerable<Soru_Cevap.Models.Cevap>

@foreach (var cevap in Model)
{
    <li class="comment">
        <div class="comment-body clearfix">
            <div class="comment-text">
                <div class="author clearfix">
                    <div class="comment-author"><a href="~/HOME/UyeDetay/@cevap.UyeID">@cevap.Uye.KullaniciAd</a></div>
                    <div class="comment-meta">
                        <div class="date"><i class="icon-time"></i>@cevap.Tarih.Date.ToShortDateString()</div>
                    </div>
                </div>
                <div class="text">
                    <h6>@cevap.Icerik</h6>
                    @if (Session["uyeID"] != null && cevap.UyeID == Convert.ToInt32(Session["uyeID"].ToString()))
                    {
                        <button data-id="@cevap.CevapID" class="btn btn-danger btnCevapSil">Sil</button>
                    }
                </div>
            </div>
        </div>
    </li>
    
}
